@page
@using Schools.Application.Service.Interfaces.Locations
@using Schools.Application.Utilities.Convertors
@using Schools.Domain.Repository.InterfaceRepository
@model Schools.WebApp.Areas.ManagementPanel.Pages.Schools.AddModel
@inject ILocationService _Location;
@inject ISchoolGroupsRepository _Groups
@{
    var menuModel = "schools";
    var shires = _Location.GetAllShire();
    var groups = _Groups.GetAllGroups().Where(g => g.ParentId == null);
}
@section Meta
{
    <link rel="stylesheet" href="/Admin/bowercomponents/select2/dist/css/select2.min.css">
}
<partial name="_MainMenu" model="menuModel" />

<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <section class="col-lg-12 col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        <h3>افزودن آموزشگاه جدید</h3>
                    </div>
                    <div class="box-body">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <form class="row" method="post" enctype="multipart/form-data">
                            <div class="col-lg-6 col-md-6" style="margin-top: 8px">
                                <p>نام آموزشگاه</p>
                                <input type="text" asp-for="School.SchoolTitle" class="form-control" placeholder="نام آموزشکاه" />
                            </div>
                            <div class="col-lg-6 col-md-6" style="margin-top: 8px">
                                <p>مدیر آموزشگاه (شناسه کاربر را وارد کنید)</p>
                                <input type="text" asp-for="School.SchoolManager" class="form-control" placeholder="مدیر آموزشگاه" />
                            </div>
                            <div class="col-lg-12 col-md-12" style="margin-top: 8px">
                                <p>Meta Description <span class="counter" style="padding: 2px; border-radius: 50%; font-size: 12px ">0</span></p>
                                <textarea asp-for="School.MetaDescription" class="form-control" placeholder="+155"></textarea>
                            </div>
                            <div class="col-lg-12 col-md-12" style="margin-top: 8px">
                                <p>توضیح در مورد آموزشگاه</p>
                                <textarea asp-for="School.Description"></textarea>
                            </div>
                            <div class="col-lg-6 col-md-6" style="margin-top: 8px">
                                <p>شماره تلفن آموزشگاه (با - از هم جدا کنید)</p>
                                <input type="text" asp-for="School.SchoolPhone" class="form-control" placeholder="شماره تلفن ها" />
                            </div>
                            <div class="col-lg-6 col-md-6" style="margin-top: 8px">
                                <p>ایمیل آموزشگاه</p>
                                <input type="email" asp-for="School.SchoolEmail" class="form-control" placeholder="ایمیل" />
                            </div>
                            <div class="col-lg-6 col-md-6" style="margin-top: 8px">
                                <p>آدرس آموزشگاه</p>
                                <input type="text" asp-for="School.SchoolAddress" class="form-control" placeholder="آدرس آموزشگاه" />
                            </div>
                            <div class="col-lg-6 col-md-6" style="margin-top: 8px">
                                <p>فکس آموزشگاه</p>
                                <input type="text" class="form-control" asp-for="School.SchoolFax" placeholder="فکس" />
                            </div>
                            <div class="col-lg-6 col-md-6" style="margin-top: 8px">
                                <p>استان</p>
                                <select class="form-control" asp-for="School.ShireId">
                                    <option value="0">انتخاب کنید</option>
                                    @foreach (var item in shires)
                                    {
                                        <option value="@item.ShireId">@item.ShireTitle</option>
                                    }
                                </select>
                            </div>
                            <div class="col-lg-6 col-md-6" style="margin-top: 8px">
                                <p>شهر</p>
                                <select class="form-control" asp-for="School.CityId">
                                    <option value="0">انتخاب کنید</option>
                                </select>
                            </div>
                            <div class="col-lg-6 col-md-6" style="margin-top: 8px">
                                <p>گروه</p>
                                <select class="form-control" asp-for="School.GroupId">
                                    <option value="0">انتخاب کنید</option>
                                    @foreach (var item in groups)
                                    {
                                        <option value="@item.GroupId">@item.GroupTitle</option>
                                    }
                                </select>
                            </div>
                            <div class="col-lg-6 col-md-6" style="margin-top: 8px">
                                <p>زیر گروه</p>
                                <select class="form-control" asp-for="School.SubGroupId">
                                    <option value="null">انتخاب کنید</option>
                                </select>
                            </div>
                            <div class="col-lg-6 col-md-6" style="margin-top: 8px">
                                <p>وضعیت آموزشگاه</p>
                                <select class="form-control" asp-for="School.IsActive">
                                    <option class="text-success" value="true" selected="selected">فعال</option>
                                    <option class="text-danger" value="false">غیر فعل</option>
                                </select>
                            </div>
                            <div class="col-lg-6 col-md-6" style="margin-top: 8px">
                                <p>تاریخ تاسیس آموزشگاه</p>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" id="tarikh" asp-for="School.BuildDate" class="form-control pull-right">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6" style="margin-top: 8px">
                                <p>کلمات  کلیدی <span class="text-muted">با '-' از هم جدا کنید </span></p>

                                <input type="text" class="form-control" asp-for="School.Tags" />

                            </div>
                            <div class="col-lg-6 col-md-6" style="margin-top: 8px">
                                <p>نوع آموزش</p>
                                <select class="multiple form-control"  asp-for="School.TrainingTypes" multiple="multiple">
                                    <option value="1" selected="">آموزش حضوری</option>
                                    <option value="2">آموزش آنلاین</option>
                                </select>
                            </div>
                            <div class="col-lg-6 col-md-6" style="margin-top: 8px">
                                <p>آلبوم عکس</p>
                                <input asp-for="School.Gallery" type="file" accept="image/*" multiple="" class="form-control" required=""/>
                            </div>
                            <div class="col-lg-6 col-md-6" style="margin-top: 8px">
                                <p>عکس پروفایل</p>
                                <input type="file" accept="image/*" class="form-control" required="" asp-for="School.Avatar" />
                            </div>
                            <button class="col-lg-12 btn btn-block btn-success btn-flat" style="margin-top: 12px">ثبت</button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>
@section Scripts
{
    <script src="/admin/dist/js/persian-date-0.1.8.min.js"></script>
    <script src="/admin/dist/js/persian-datepicker-0.4.5.min.js"></script>
    <script src="/ckeditor5/build/ckeditor.js"></script>
    <script src="/Admin/bowercomponents/select2/dist/js/select2.full.min.js"></script>
    <script>
        function showValue() {
            console.log($("#tarikh").val());
        }

        $(document).ready(function () {
            $('#tarikh').pDatepicker({
                format: 'YYYY/MM/D',
            });

            $('.multiple').select2();

        });

    </script>

    <script>
        $("#School_ShireId").change(function () {
            var shireId = $(this).val();
            $.ajax({
                url: "/ManagementPanel/Schools/GetCity?shireId=" + shireId,
                type: "get",
                beforeSend: function () {
                    $(".loading").show();
                },
                complete: function () {
                    $(".loading").hide();
                }
            }).done(function (data) {
                $("#School_CityId").html(data);
            });
        });
        $("#School_GroupId").change(function () {
            var groupId = $(this).val();
            $.ajax({
                url: "/ManagementPanel/Schools/GetSubGroups?groupId=" + groupId,
                type: "get",
                beforeSend: function () {
                    $(".loading").show();
                },
                complete: function () {
                    $(".loading").hide();
                }
            }).done(function (data) {
                $("#School_SubGroupId").html(data);
            });
        });
        ClassicEditor
            .create(document.querySelector('#School_Description'),
                {
                    ckfinder: {
                        uploadUrl: 'CustomUrl'
                    },
                    toolbar: {
                        items: [
                            'heading',
                            '|',
                            'bold',
                            'italic',
                            'link',
                            'bulletedList',
                            'numberedList',
                            'fontSize',
                            '|',
                            'indent',
                            'outdent',
                            '|',
                            'blockQuote',
                            'insertTable',
                            'undo',
                            'redo',
                            'code'
                        ]
                    },
                    language: 'fa',
                    table: {
                        contentToolbar: [
                            'tableColumn',
                            'tableRow',
                            'mergeTableCells'
                        ]
                    },
                    licenseKey: '',

                })
            .then(editor => {
                window.editor = editor;
            })
            .catch(error => {
                console.error('Oops, something gone wrong!');
                console.error('Please, report the following error in the https://github.com/ckeditor/ckeditor5 with the build id and the error stack trace:');
                console.warn('Build id: 1hgh63bxm5nk-t1efehf8ocs2');
                console.error(error);
            });
        $("#School_MetaDescription").keydown(function () {
            var len = $(this).val().length;
            $(".counter").html(len);
        });
        $("#School_MetaDescription").change(function () {
            var len = $(this).val().length;
            $(".counter").html(len);
        });
    </script>

}
