@page "{shireId}"
@model Schools.WebApp.Areas.ManagementPanel.Pages.Locations.EditModel
@{
    var menuModel = "Locations";
}
<partial name="_MainMenu" model="menuModel" />

<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">استان ها</h3>
                    </div>
                    <!-- /.box-header -->

                    <div class="box-body">
                        <form method="post" class="row">
                            <input type="hidden" asp-for="Shire.ShireId" />
                            <div class="col-lg-6">
                                <p>نام استان </p>
                                <input type="text" required="" class="form-control" asp-for="Shire.ShireTitle" />
                            </div>
                            <div class="col-lg-6 mt-1">
                                <p>نام انگلیسی </p>
                                <input type="text" required="" class="form-control" asp-for="Shire.EnglishName" />
                            </div>
                            <div class="col-lg-12 mt-1">
                                <p>نوع</p>
                                <select asp-for="Shire.IsLand" class="form-control">
                                    <option value="false">استان</option>
                                    <option value="true">جزیره</option>
                                </select>
                            </div>
                            <div class="col-lg-12 mt-1">
                                <button type="submit" class="btn btn-success btn-flat btn-block">ثبت</button>

                            </div>
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
</div>
