@page "{handler?}"
@model Schools.WebApp.Areas.ManagementPanel.Pages.Locations.IndexModel
@{
    var menuModel = "Locations";
    var counter = 1;

}
<partial name="_MainMenu" model="menuModel" />

<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">استان ها</h3>
                    </div>
                    <!-- /.box-header -->

                    <div class="box-body table-responsive no-padding">
                        <a class="btn btn-success btn-flat" href="/ManagementPanel/Locations/Add" style="margin-bottom: 10px">ثبت استان جدید</a>
                        <table class="table table-hover">
                            <tr>
                                <th>#</th>
                                <th>عنوان</th>
                                <th>تعداد استان</th>
                                <td></td>
                            </tr>
                            <tr>
                                @foreach (var item in Model.Shires)
                                {
                                <tr>
                                    <td>@counter</td>
                                    <td>@item.ShireTitle</td>
                                    <td>@item.Cities.Count</td>
                                    <td>
                                        <a href="/ManagementPanel/Locations/Edit/@item.ShireId" class="btn btn-info btn-flat">ویرایش</a>
                                        <a href="/ManagementPanel/Locations/Cities/@item.ShireId" class="btn btn-primary btn-flat">شهر ها</a>
                                        <a onclick="deleteItem(@item.ShireId)" class="btn btn-danger btn-flat">حذف</a>
                                    </td>
                                </tr>

                                counter += 1;
                            }
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
        </div>
    </section>
</div>
@section Scripts
{
    <script>

        function deleteItem(id) {
            swal({
                title: "اخطار !!",
                text: "درصورت حذف استان تمامی شهر های مربوطه حذف می شوند",
                icon: "warning",
                buttons: ["لغو", "متوجه شدم"]
            }).then((isOk) => {
                if (isOk) {
                    $.ajax({
                        url: "/ManagementPanel/Locations/DeleteShire?shireId=" + id,
                        type: "get",
                        beforeSend: function() {
                            $(".loading").show();
                        },
                        complete: function() {
                            $(".loading").hide();
                        }
                    }).done(function(data) {
                        if (data === "NotFound") {
                            swal({
                                title: "شناسه وارد شده نا معتبر است",
                                icon: "error",
                                button: "باشه"
                            });
                        }
                        if (data === "Deleted") {
                            swal({
                                title: "اعملیات با موفقیت انجام شد",
                                icon: "success",
                                button: "باشه"
                            }).then((isOk) => {
                                location.reload();
                            });
                        } else {
                            swal({
                                title: "اعملیات به مشکل برخورد کرد",
                                icon: "error",
                                button: "باشه"
                            });
                        }
                    });
                }
            });

        }
    </script>
}
