@page
@using Schools.Application.Utilities
@using Schools.Domain.Models.Users
@using Schools.Domain.Repository.InterfaceRepository.Users
@model Schools.WebApp.Pages.UserPanel.ChangePasswordModel
@inject IUserRepository _User
@{
    var user = _User.GetUserWithRelations(User.GetUserId());
    ViewData["title"] = $"تغییر کلمه عبور";
}
@section Meta
{
    <link rel="stylesheet" type="text/css" href="/css/account.css">
}
@section Topic_Layer
{
    <div class="container page-title">
        <h1><a href="javascript:void(0)"> حساب کاربری </a></h1>
        <ul itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
            <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="/" itemprop="item"><span itemprop="name"> بانک اطلاعاتی آموزشگاه ها </span></a></li>
            <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement">
                <a href="/UserPanel" itemprop="item">
                    <span itemprop="name"> حساب کاربری @user.Name @user.Family </span>
                </a>
            </li>
            <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement">
                <a href="javascript:void(0)" itemprop="item" class="current">
                    <span itemprop="name">  تغییر رمز عبور </span>
                </a>
            </li>
        </ul>
    </div>
}
<div class="account-layer">
    <div class="container">
        @{
            var menuModel = new Tuple<User, string>(user, "ChangePassword");
        }
        <partial name="Shared/_RightMenu" model="menuModel" />

        <div class="left-side">
            <div class="account-heading layer-style">
                <span class="status green"> وضعیت : <i> @(user.IsActive ? "فعال" : "غییر فعال") </i></span>
                <a href=""> <i class="zmdi zmdi-plus"></i> ثبت تیکت </a>
            </div>
            <div class="account-content-layer layer-style">
                <h3> تغییر رمز عبور </h3>
                <div class="inner">
                    <form method="post" class="form-layer-style">
                        <div class="row">
                            <div class="text-danger" asp-validation-summary="All"></div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="input-layer">
                                    <label><i class="zmdi zmdi-lock"></i> رمز عبور فعلی </label>
                                    <input type="password" asp-for="Password.CurrentPassword">
                                    <span asp-validation-for="Password.CurrentPassword"></span>

                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="input-layer">
                                    <label><i class="zmdi zmdi-lock"></i> رمز عبور جدید </label>
                                    <input type="password" asp-for="Password.NewPassword">
                                    <span asp-validation-for="Password.NewPassword"></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="input-layer">
                                    <label><i class="zmdi zmdi-lock"></i> تکرار رمز عبور جدید </label>
                                    <input type="password" asp-for="Password.ReNewPassword">
                                    <span asp-validation-for="Password.ReNewPassword"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 pull-left">
                                <button type="submit" class="submit-button green"> ویرایش اطلاعات </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
@section Scripts
{
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.validate.unobtrusive.js"></script>
    <script src="/js/account.js"></script>
}
