@page
@model Schools.WebApp.Areas.ManagementPanel.Pages.Blogs.DeleteModel
@{
    var menuModel = "blogs";
}
<partial name="_MainMenu" model="menuModel" />

<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <section class="col-lg-12 col-md-12">

                <div class="box box-primary">
                    <h1>حذف بلاگ</h1>
                    <h2>آیا از حذف بلاگ{@Model.Blog.Title} مطمئن هستید؟</h2>

                    <form method="post">
                        <input type="hidden" asp-for="Blog.BlogId" />
                        <dl>
                            <dd><label asp-for="Blog.Title"></label></dd>
                            <dt>
                                <input asp-for="Blog.Title" class="form-control" readonly />
                                <span asp-validation-for="Blog.Title"></span>
                            </dt>
                            <dd></dd>
                            <br />
                            <dt>
                                <input type="submit" class="btn btn-danger" value="حذف" />
                            </dt>
                        </dl>
                    </form>
                </div>
            </section>
        </div>
    </section>
</div>
