@page
@model Schools.WebApp.Areas.ManagementPanel.Pages.Blogs.DetailsModel
@{
    var menuModel = "blogs";
}
<partial name="_MainMenu" model="menuModel" />

<h2>جزئیات خبر @Model.Blog.Title</h2>

<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <section class="col-lg-12 col-md-12">

                <div class="box box-primary">
                    <h1>جزئیات بلاگ "@Model.Blog.Title"</h1>
                    <dl>
                        <dd><label asp-for="Blog.Title"></label></dd>
                        <dt>
                            <input asp-for="Blog.Title" class="form-control" readonly />
                        </dt>
                        <dd><label asp-for="Blog.ShortDescription"></label></dd>
                        <dt>
                            <input asp-for="Blog.ShortDescription" class="form-control" readonly />
                        </dt>
                        <dd><label asp-for="Blog.BlogText"></label></dd>
                        <dt>
                            <textarea asp-for="Blog.BlogText" class="form-control" readonly ></textarea>
                        </dt>
                        <dd><label asp-for="Blog.GroupId"></label></dd>
                        <dt>
                            <input asp-for="Blog.GroupId" class="form-control" readonly />
                        </dt>
                        <dd><label asp-for="Blog.TypeId"></label></dd>
                        <dt>
                            <input asp-for="Blog.TypeId" class="form-control" readonly />
                        </dt>
                        <dd><label asp-for="Blog.Tags"></label></dd>
                        <dt>
                            <input asp-for="Blog.Tags" class="form-control" readonly />
                        </dt>
                        <dd><label asp-for="Blog.BlogVisit"></label></dd>
                        <dt>
                            <input asp-for="Blog.BlogVisit" class="form-control" readonly />
                        </dt>
                        <dd><label asp-for="Blog.CreateDate"></label></dd>
                        <dt>
                            <input asp-for="Blog.CreateDate" class="form-control" readonly />
                        </dt>
                        <dd><label asp-for="Blog.ImageName"></label></dd>
                        <dt>
                            <img src="/images/blogs/@Model.Blog.ImageName" class="thumbnail" style="max-width:120px" />
                        </dt>
                        <dd></dd>
                    </dl>
                </div>
                <div>
                    <a asp-page="Edit" asp-route-id="@Model.Blog.BlogId">ویرایش بلاگ</a> |
                    <a asp-page="Index">بازگشت به لیست</a>
                </div>
            </section>
        </div>
    </section>
</div>
