@section Topic_Layer
{
    <div class="container page-title">
        <h1><a href=""> صفحه مورد نظر یافت نشد  </a></h1>
        <ul itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
            <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="#" itemprop="item"><span itemprop="name"> بانک اطلاعاتی آموزشگاه ها </span></a></li>
            <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="#" itemprop="item" class="current"><span itemprop="name"> خطای 404 </span></a></li>
        </ul>
    </div>
}
@section Meta
{
    <link rel="stylesheet" type="text/css" href="/css/404.css">

}
<div class="container">

    <div class="notfound">

        <img src="/images/404.svg">

        <p> ممکن است صفحه ای که به دنبال آن میگردید حذف شده باشد و یا آدرس آن را به درستی وارد نکرده باشید </p>

    </div>

</div>