@{
    Layout = null;
}
<!DOCTYPE html>
<html class="no-js" dir="rtl" lang="fa-IR">
<head>
    <meta charset="UTF-8">
    <title> 500 Error </title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="googlebot" content="index,follow">
    <meta name="robots" content="noodp,noydir">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/error.css">



</head>
<body>

    <div class="container">
        <img src="/images/500.svg">
        <h1> سرور با خطا مواجه شده است ، لطفا کمی بعد مراجعه کنید </h1>
        <p> در صورت بروز مجدد مشکل با ایمیل  info@amoozesh.info تماس بگیرید </p>
    </div>

</body>
</html>
