@page
@model Schools.WebApp.Areas.ManagementPanel.Pages.AboutUs.EditModel
@{
    var menuModel = "aboutUs";
}
<partial name="_MainMenu" model="menuModel" />
<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <section class="col-lg-12 col-md-12">

                <div class="box box-primary">
                    <form role="form" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="box-body">
                            <div class="form-group">
                                <label>متن</label>
                                <div class="box-body pad">
                                    <div class="box box-info">
                                        <div>
                                            <textarea asp-for="AboutUs.Text" id="Description"></textarea>
                                            <span asp-validation-for="AboutUs.Text" class="text-danger"></span>
                                        </div>
                                        <button type="submit" class="btn btn-primary">ویرایش</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                    </form>
                </div>

            </section>
        </div>
    </section>
</div>
@section Scripts{
    <script src="/ckeditor5/build/ckeditor.js"></script>
    <script src="/js/miniCkediotr.js"></script>
}