@page
@model Schools.WebApp.Areas.ManagementPanel.Pages.AboutUs.IndexModel
@{
    var menuModel = "aboutUs";
}
<partial name="_MainMenu" model="menuModel" />

<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">درباره ما</h3>
                    </div>
                    <div class="box-body">
                        @if (Model.AboutUs != null)
                        {
                            <a class="btn btn-info btn-flat" href="/ManagementPanel/AboutUs/Edit">ویرایش</a>
                            <hr/>
                            @Html.Raw(Model.AboutUs.Text)
                        }
                        else
                        {
                            <a class="btn btn-flat btn-success" href="/ManagementPanel/AboutUs/Add">افزودن</a>
                            <hr/>
                            <div class="alert alert-warning">
                                هیچ متنی برای این بخش در نظر گرفته نشده از طریق لینک بالا اقدام به ثبت کنید
                            </div>
                        }
                    </div>
                 
                </div>
            </div>
        </div>
    </section>
</div>