@page
@model Schools.WebApp.Pages.IndexModel
@{
}
@section Topic_header{
    <div class="container">
        <div class="topic-layer">
            <h1> بانک اطلاعاتی آموزشگاه های <span> استان تهران </span></h1>
            <h2> استان تهران شامل <i> 856 </i> آموزشگاه فعال و <i> 685 </i> آموزشگاه برتر می باشد </h2>
        </div>
    </div>
}
<div class="container">
    <!-- search -->
    <div class="search-layer">
        <form action="" method="">
            <select>
                <option> انتخاب استان </option>
                <option selected> استان تهران </option>
                <option> استان تهران </option>
                <option> استان تهران </option>
                <option> استان تهران </option>
                <option> استان تهران </option>
                <option> استان تهران </option>
                <option> استان تهران </option>
            </select>
            <select>
                <option> انتخاب ناحیه </option>
                <option> شهر تهران </option>
                <option> شهر ری </option>
            </select>
            <input type="text" name="" placeholder="نام آموزشگاه ...">
            <input type="text" name="" placeholder="نام دوره ...">
            <button> جستجو کنید <i class="zmdi zmdi-search"></i></button>
        </form>
    </div>
    <!-- /search -->
</div>

<div class="main-content">
    <div class="container">
        <div class="row">
            <!-- categories -->
            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6 categories-col">
                <div class="categories-layer shadow-style">
                    <!-- select place-->
                    <div class="select-layer">
                        <!-- پیش فرض گروه بندی تهرانه  -->
                        <span class="title-place"> گروه بندی آموزشگاه های <i> تهران </i> </span>
                        <ul>
                            <li><label><input type="radio" name="cat-list" value="تهران" id="cat-1">  تهران</label></li>
                            <li><label><input type="radio" name="cat-list" value="ری" id="cat-2">  ری</label></li>
                            <li><label><input type="radio" name="cat-list" value="شهریار" id="cat-3">  شهریار</label></li>
                            <li><label><input type="radio" name="cat-list" value="بهارستان" id="cat-4">  بهارستان</label></li>
                            <li><label><input type="radio" name="cat-list" value="ملارد" id="cat-5">  ملارد</label></li>
                            <li><label><input type="radio" name="cat-list" value="پاکدشت" id="cat-6">  پاکدشت</label></li>
                            <li><label><input type="radio" name="cat-list" value="قدس" id="cat-7">  قدس</label></li>
                            <li><label><input type="radio" name="cat-list" value="رابط کریم" id="cat-8">  رابط کریم</label></li>
                            <li><label><input type="radio" name="cat-list" value="ورامین" id="cat-9">  ورامین</label></li>
                            <li><label><input type="radio" name="cat-list" value="قرچک" id="cat-10">  قرچک</label></li>
                            <li><label><input type="radio" name="cat-list" value="پردیس" id="cat-11">  پردیس</label></li>
                            <li><label><input type="radio" name="cat-list" value="دماوند" id="cat-12">  دماوند</label></li>
                            <li><label><input type="radio" name="cat-list" value="پیشوا" id="cat-13">  پیشوا</label></li>
                            <li><label><input type="radio" name="cat-list" value="شمیرانات" id="cat-14">  شمیرانات</label></li>
                            <li><label><input type="radio" name="cat-list" value="اسلامشهر" id="cat-15">  اسلامشهر</label></li>
                            <li><label><input type="radio" name="cat-list" value="فیروزکوه" id="cat-15">  فیروزکوه</label></li>
                        </ul>
                    </div>
                    <!-- /select place-->
                    <!-- list -->
                    <div class="list-layer">
                        <nav>
                            <ul>
                                <li>
                                    <a href=""> آموزشگاه های هنر <span>(12)</span></a>
                                    <ul>
                                        <li><a href="">آموزشگاه موسیقی <span>(24)</span></a></li>
                                        <li><a href="">آموزشگاه نقاشی <span>(24)</span></a></li>
                                        <li><a href="">آموزشگاه گلدوزی <span>(24)</span></a></li>
                                        <li><a href="">آموزشگاه خیاطی <span>(24)</span></a></li>
                                        <li><a href="">سایر آموزشگاه های هنر <span>(24)</span></a></li>
                                    </ul>
                                </li>
                                <li><a href=""> آموزشگاه های زبان <span>(80)</span></a></li>
                                <li>
                                    <a href=""> آموزشگاه های فنی و مهندسی <span>(24)</span></a>
                                    <ul>
                                        <li><a href="">آموزشگاه کامپیوتر <span>(24)</span></a></li>
                                        <li><a href="">آموزشگاه برق <span>(24)</span></a></li>
                                        <li><a href="">آموزشگاه صنعت <span>(24)</span></a></li>
                                        <li><a href="">آموزشگاه مکانیک <span>(24)</span></a></li>
                                    </ul>
                                </li>
                                <li><a href=""> آموزشگاه های صنعتی <span>(15)</span></a></li>
                                <li><a href=""> آموزشگاه های  حسادباری <span>(86)</span></a></li>
                                <li><a href=""> آموزشگاه های  رانندگی<span>(102)</span></a></li>
                                <li><a href=""> آموزشگاه های  آزاد علمی <span>(52)</span></a></li>
                                <li><a href=""> آموزشگاه های  برق <span>(10)</span></a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- /list -->
                </div>
            </div>
            <!-- /categories -->
            <!-- popular post -->
            <section class="col-lg-9 col-md-8 col-sm-7 col-xs-6 popular-item-col">
                <header class="heading-style"><h2> محبوب ترین آموزشگاه های <i> استان تهران </i> </h2></header>
                <div class="popular-item-carousel owl-carousel">
                    <!-- item -->
                    <div class="item">
                        <section class="section-item shadow-style">
                            <div class="img-layer">
                                <span> شهر ری </span>
                                <a href=""><img src="/images/pic/thumb.jpg"></a>
                            </div>
                            <h2><a href=""> <span class="category-name"> آموزشگاه زبان </span>  نیک آموزان جوان 1</a></h2>
                            <div class="detail">
                                <span class="history"> <i class="zmdi zmdi-calendar-check"></i> 30 سال سابقه </span>
                                <span class="like"><i class="zmdi zmdi-favorite-outline"></i>  3.5K </span>
                            </div>
                        </section>
                    </div>
                    <!-- /item -->
                    <!-- item -->
                    <div class="item">
                        <section class="section-item shadow-style">
                            <div class="img-layer">
                                <span> رباط کریم </span>
                                <a href=""><img src="/images/pic/thumb-2.jpg"></a>
                            </div>
                            <h2><a href=""> <span class="category-name"> آموزشگاه زبان </span>  نیک آموزان جوان2 </a></h2>
                            <div class="detail">
                                <span class="history"> <i class="zmdi zmdi-calendar-check"></i> 30 سال سابقه </span>
                                <span class="like"><i class="zmdi zmdi-favorite-outline"></i>  3.5K </span>
                            </div>
                        </section>
                    </div>
                    <!-- /item -->
                    <!-- item -->
                    <div class="item">
                        <section class="section-item shadow-style">
                            <div class="img-layer">
                                <span> تهران </span>
                                <a href=""><img src="/images/pic/thumb.jpg"></a>
                            </div>
                            <h2><a href=""> <span class="category-name"> آموزشگاه زبان </span>  نیک آموزان جوان 3</a></h2>
                            <div class="detail">
                                <span class="history"> <i class="zmdi zmdi-calendar-check"></i> 30 سال سابقه </span>
                                <span class="like"><i class="zmdi zmdi-favorite-outline"></i>  3.5K </span>
                            </div>
                        </section>
                    </div>
                    <!-- /item -->
                    <!-- item -->
                    <div class="item">
                        <section class="section-item shadow-style">
                            <div class="img-layer">
                                <span> شهر ری </span>
                                <a href=""><img src="/images/pic/thumb-3.jpg"></a>
                            </div>
                            <h2><a href=""> <span class="category-name"> آموزشگاه زبان </span>  نیک آموزان جوان4 </a></h2>
                            <div class="detail">
                                <span class="history"> <i class="zmdi zmdi-calendar-check"></i> 30 سال سابقه </span>
                                <span class="like"><i class="zmdi zmdi-favorite-outline"></i>  3.5K </span>
                            </div>
                        </section>
                    </div>
                    <!-- /item -->
                    <!-- item -->
                    <div class="item">
                        <section class="section-item shadow-style">
                            <div class="img-layer">
                                <span> رباط کریم </span>
                                <a href=""><img src="/images/pic/thumb-2.jpg"></a>
                            </div>
                            <h2><a href=""> <span class="category-name"> آموزشگاه زبان </span>  نیک آموزان جوان5 </a></h2>
                            <div class="detail">
                                <span class="history"> <i class="zmdi zmdi-calendar-check"></i> 30 سال سابقه </span>
                                <span class="like"><i class="zmdi zmdi-favorite-outline"></i>  3.5K </span>
                            </div>
                        </section>
                    </div>
                    <!-- /item -->
                    <!-- item -->
                    <div class="item">
                        <section class="section-item shadow-style">
                            <div class="img-layer">
                                <span> تهران </span>
                                <a href=""><img src="/images/pic/thumb-3.jpg"></a>
                            </div>
                            <h2><a href=""> <span class="category-name"> آموزشگاه زبان </span>  نیک آموزان جوان6 </a></h2>
                            <div class="detail">
                                <span class="history"> <i class="zmdi zmdi-calendar-check"></i> 30 سال سابقه </span>
                                <span class="like"><i class="zmdi zmdi-favorite-outline"></i>  3.5K </span>
                            </div>
                        </section>
                    </div>
                    <!-- /item -->
                    <!-- item -->
                    <div class="item">
                        <section class="section-item shadow-style">
                            <div class="img-layer">
                                <span> شهر ری </span>
                                <a href=""><img src="/images/pic/thumb-3.jpg"></a>
                            </div>
                            <h2><a href=""> <span class="category-name"> آموزشگاه زبان </span>  نیک آموزان جوان7 </a></h2>
                            <div class="detail">
                                <span class="history"> <i class="zmdi zmdi-calendar-check"></i> 30 سال سابقه </span>
                                <span class="like"><i class="zmdi zmdi-favorite-outline"></i>  3.5K </span>
                            </div>
                        </section>
                    </div>
                    <!-- /item -->
                    <!-- item -->
                    <div class="item">
                        <section class="section-item shadow-style">
                            <div class="img-layer">
                                <span> رباط کریم </span>
                                <a href=""><img src="/images/pic/thumb-2.jpg"></a>
                            </div>
                            <h2><a href=""> <span class="category-name"> آموزشگاه زبان </span>  نیک آموزان جوان8 </a></h2>
                            <div class="detail">
                                <span class="history"> <i class="zmdi zmdi-calendar-check"></i> 30 سال سابقه </span>
                                <span class="like"><i class="zmdi zmdi-favorite-outline"></i>  3.5K </span>
                            </div>
                        </section>
                    </div>
                    <!-- /item -->
                    <!-- item -->
                    <div class="item">
                        <section class="section-item shadow-style">
                            <div class="img-layer">
                                <span> تهران </span>
                                <a href=""><img src="/images/pic/thumb-3.jpg"></a>
                            </div>
                            <h2><a href=""> <span class="category-name"> آموزشگاه زبان </span>  نیک آموزان جوان 9</a></h2>
                            <div class="detail">
                                <span class="history"> <i class="zmdi zmdi-calendar-check"></i> 30 سال سابقه </span>
                                <span class="like"><i class="zmdi zmdi-favorite-outline"></i>  3.5K </span>
                            </div>
                        </section>
                    </div>
                    <!-- /item -->
                </div>
            </section>
            <!-- /popular post -->
        </div>

        <!-- last post -->
        <section class="last-items-layer">
            <header class="heading-style">
                <h2>آخرین آموزشگاه های ثبت شده در <i> استان تهران </i></h2>
                <div class="select-layer">
                    <!-- پیش فرض گروه بندی تهرانه  -->
                    <span class="title-place"> مشاهده آموزشگاه های <i> تهران </i> </span>
                    <ul>
                        <li><label><input type="radio" name="select-list" value="تهران" id="select-1">  تهران</label></li>
                        <li><label><input type="radio" name="select-list" value="ری" id="select-2">  ری</label></li>
                        <li><label><input type="radio" name="select-list" value="شهریار" id="select-3">  شهریار</label></li>
                        <li><label><input type="radio" name="select-list" value="بهارستان" id="select-4">  بهارستان</label></li>
                        <li><label><input type="radio" name="select-list" value="ملارد" id="select-5">  ملارد</label></li>
                        <li><label><input type="radio" name="select-list" value="پاکدشت" id="select-6">  پاکدشت</label></li>
                        <li><label><input type="radio" name="select-list" value="قدس" id="select-7">  قدس</label></li>
                        <li><label><input type="radio" name="select-list" value="رابط کریم" id="select-8">  رابط کریم</label></li>
                        <li><label><input type="radio" name="select-list" value="ورامین" id="select-9">  ورامین</label></li>
                        <li><label><input type="radio" name="select-list" value="قرچک" id="select-10">  قرچک</label></li>
                        <li><label><input type="radio" name="select-list" value="پردیس" id="select-11">  پردیس</label></li>
                        <li><label><input type="radio" name="select-list" value="دماوند" id="select-12">  دماوند</label></li>
                        <li><label><input type="radio" name="select-list" value="پیشوا" id="select-13">  پیشوا</label></li>
                        <li><label><input type="radio" name="select-list" value="شمیرانات" id="select-14">  شمیرانات</label></li>
                        <li><label><input type="radio" name="select-list" value="اسلامشهر" id="select-15">  اسلامشهر</label></li>
                        <li><label><input type="radio" name="select-list" value="فیروزکوه" id="select-15">  فیروزکوه</label></li>
                    </ul>
                </div>
            </header>

            <div class="row">
                <!-- col -->
                <div class="col-md-3 col-sm-4 col-xs-6 section-item-col">
                    <section class="section-item shadow-style">
                        <div class="img-layer">
                            <span> تهران </span>
                            <a href=""><img src="/images/pic/thumb-2.jpg"></a>
                        </div>
                        <h2><a href=""> <span class="category-name"> آموزشگاه زبان </span>  نیک آموزان جوان </a></h2>
                        <div class="detail">
                            <span class="history"> <i class="zmdi zmdi-calendar-check"></i> 30 سال سابقه </span>

                        </div>
                    </section>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-md-3 col-sm-4 col-xs-6 section-item-col">
                    <section class="section-item shadow-style">
                        <div class="img-layer">
                            <span> تهران </span>
                            <a href=""><img src="/images/pic/thumb-3.jpg"></a>
                        </div>
                        <h2><a href=""> <span class="category-name"> آموزشگاه زبان </span>  نیک آموزان جوان </a></h2>
                        <div class="detail">
                            <span class="history"> <i class="zmdi zmdi-calendar-check"></i> 30 سال سابقه </span>

                        </div>
                    </section>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-md-3 col-sm-4 col-xs-6 section-item-col">
                    <section class="section-item shadow-style">
                        <div class="img-layer">
                            <span> تهران </span>
                            <a href=""><img src="/images/pic/thumb.jpg"></a>
                        </div>
                        <h2><a href=""> <span class="category-name"> آموزشگاه زبان </span>  نیک آموزان جوان </a></h2>
                        <div class="detail">
                            <span class="history"> <i class="zmdi zmdi-calendar-check"></i> 30 سال سابقه </span>

                        </div>
                    </section>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-md-3 col-sm-4 col-xs-6 section-item-col">
                    <section class="section-item shadow-style">
                        <div class="img-layer">
                            <span> تهران </span>
                            <a href=""><img src="/images/pic/thumb-2.jpg"></a>
                        </div>
                        <h2><a href=""> <span class="category-name"> آموزشگاه زبان </span>  نیک آموزان جوان </a></h2>
                        <div class="detail">
                            <span class="history"> <i class="zmdi zmdi-calendar-check"></i> 30 سال سابقه </span>

                        </div>
                    </section>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-md-3 col-sm-4 col-xs-6 section-item-col">
                    <section class="section-item shadow-style">
                        <div class="img-layer">
                            <span> تهران </span>
                            <a href=""><img src="/images/pic/thumb-4.jpg"></a>
                        </div>
                        <h2><a href=""> <span class="category-name"> آموزشگاه زبان </span>  نیک آموزان جوان </a></h2>
                        <div class="detail">
                            <span class="history"> <i class="zmdi zmdi-calendar-check"></i> 30 سال سابقه </span>

                        </div>
                    </section>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-md-3 col-sm-4 col-xs-6 section-item-col">
                    <section class="section-item shadow-style">
                        <div class="img-layer">
                            <span> تهران </span>
                            <a href=""><img src="/images/pic/thumb-2.jpg"></a>
                        </div>
                        <h2><a href=""> <span class="category-name"> آموزشگاه زبان </span>  نیک آموزان جوان </a></h2>
                        <div class="detail">
                            <span class="history"> <i class="zmdi zmdi-calendar-check"></i> 30 سال سابقه </span>

                        </div>
                    </section>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-md-3 col-sm-4 col-xs-6 section-item-col">
                    <section class="section-item shadow-style">
                        <div class="img-layer">
                            <span> تهران </span>
                            <a href=""><img src="/images/pic/thumb.jpg"></a>
                        </div>
                        <h2><a href=""> <span class="category-name"> آموزشگاه زبان </span>  نیک آموزان جوان </a></h2>
                        <div class="detail">
                            <span class="history"> <i class="zmdi zmdi-calendar-check"></i> 30 سال سابقه </span>

                        </div>
                    </section>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-md-3 col-sm-4 col-xs-6 section-item-col">
                    <section class="section-item shadow-style">
                        <div class="img-layer">
                            <span> تهران </span>
                            <a href=""><img src="/images/pic/thumb-3.jpg"></a>
                        </div>
                        <h2><a href=""> <span class="category-name"> آموزشگاه زبان </span>  نیک آموزان جوان </a></h2>
                        <div class="detail">
                            <span class="history"> <i class="zmdi zmdi-calendar-check"></i> 30 سال سابقه </span>

                        </div>
                    </section>
                </div>
                <!-- /col --> <!-- col -->
                <div class="col-md-3 col-sm-4 col-xs-6 section-item-col">
                    <section class="section-item shadow-style">
                        <div class="img-layer">
                            <span> تهران </span>
                            <a href=""><img src="/images/pic/thumb-2.jpg"></a>
                        </div>
                        <h2><a href=""> <span class="category-name"> آموزشگاه زبان </span>  نیک آموزان جوان </a></h2>
                        <div class="detail">
                            <span class="history"> <i class="zmdi zmdi-calendar-check"></i> 30 سال سابقه </span>

                        </div>
                    </section>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-md-3 col-sm-4 col-xs-6 section-item-col">
                    <section class="section-item shadow-style">
                        <div class="img-layer">
                            <span> تهران </span>
                            <a href=""><img src="/images/pic/thumb-3.jpg"></a>
                        </div>
                        <h2><a href=""> <span class="category-name"> آموزشگاه زبان </span>  نیک آموزان جوان </a></h2>
                        <div class="detail">
                            <span class="history"> <i class="zmdi zmdi-calendar-check"></i> 30 سال سابقه </span>

                        </div>
                    </section>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-md-3 col-sm-4 col-xs-6 section-item-col">
                    <section class="section-item shadow-style">
                        <div class="img-layer">
                            <span> تهران </span>
                            <a href=""><img src="/images/pic/thumb.jpg"></a>
                        </div>
                        <h2><a href=""> <span class="category-name"> آموزشگاه زبان </span>  نیک آموزان جوان </a></h2>
                        <div class="detail">
                            <span class="history"> <i class="zmdi zmdi-calendar-check"></i> 30 سال سابقه </span>

                        </div>
                    </section>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-md-3 col-sm-4 col-xs-6 section-item-col">
                    <section class="section-item shadow-style">
                        <div class="img-layer">
                            <span> تهران </span>
                            <a href=""><img src="/images/pic/thumb-3.jpg"></a>
                        </div>
                        <h2><a href=""> <span class="category-name"> آموزشگاه زبان </span>  نیک آموزان جوان </a></h2>
                        <div class="detail">
                            <span class="history"> <i class="zmdi zmdi-calendar-check"></i> 30 سال سابقه </span>

                        </div>
                    </section>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-md-3 col-sm-4 col-xs-6 section-item-col">
                    <section class="section-item shadow-style">
                        <div class="img-layer">
                            <span> تهران </span>
                            <a href=""><img src="/images/pic/thumb-2.jpg"></a>
                        </div>
                        <h2><a href=""> <span class="category-name"> آموزشگاه زبان </span>  نیک آموزان جوان </a></h2>
                        <div class="detail">
                            <span class="history"> <i class="zmdi zmdi-calendar-check"></i> 30 سال سابقه </span>

                        </div>
                    </section>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-md-3 col-sm-4 col-xs-6 section-item-col">
                    <section class="section-item shadow-style">
                        <div class="img-layer">
                            <span> تهران </span>
                            <a href=""><img src="/images/pic/thumb.jpg"></a>
                        </div>
                        <h2><a href=""> <span class="category-name"> آموزشگاه زبان </span>  نیک آموزان جوان </a></h2>
                        <div class="detail">
                            <span class="history"> <i class="zmdi zmdi-calendar-check"></i> 30 سال سابقه </span>

                        </div>
                    </section>
                </div>
                <!-- /col -->
                <!-- col -->
                <div class="col-md-3 col-sm-4 col-xs-6 section-item-col">
                    <section class="section-item shadow-style">
                        <div class="img-layer">
                            <span> تهران </span>
                            <a href=""><img src="/images/pic/thumb-3.jpg"></a>
                        </div>
                        <h2><a href=""> <span class="category-name"> آموزشگاه زبان </span>  نیک آموزان جوان </a></h2>
                        <div class="detail">
                            <span class="history"> <i class="zmdi zmdi-calendar-check"></i> 30 سال سابقه </span>

                        </div>
                    </section>
                </div>
                <!-- /col --> <!-- col -->
                <div class="col-md-3 col-sm-4 col-xs-6 section-item-col">
                    <section class="section-item shadow-style">
                        <div class="img-layer">
                            <span> تهران </span>
                            <a href=""><img src="/images/pic/thumb-2.jpg"></a>
                        </div>
                        <h2><a href=""> <span class="category-name"> آموزشگاه زبان </span>  نیک آموزان جوان </a></h2>
                        <div class="detail">
                            <span class="history"> <i class="zmdi zmdi-calendar-check"></i> 30 سال سابقه </span>

                        </div>
                    </section>
                </div>
                <!-- /col -->
            </div>

            <a href="" class="view-all-item button-st blue"> مشاهده تمامی آموزشگاه های <span> تهران </span> <i class="zmdi zmdi-more"></i></a>

        </section>
        <!-- /last post -->
    </div>
</div>

<section class="best-item-layer">
    <div class="container">
        <header class="heading-style">
            <h2> برترین آموزشگاه های  <i> استان تهران </i> </h2>
            <div class="select-layer">
                <!-- پیش فرض گروه بندی تهرانه  -->
                <span class="title-place"> مشاهده آموزشگاه های <i> تهران </i> </span>
                <ul>
                    <li><label><input type="radio" name="select-list" value="تهران" id="select-1">  تهران</label></li>
                    <li><label><input type="radio" name="select-list" value="ری" id="select-2">  ری</label></li>
                    <li><label><input type="radio" name="select-list" value="شهریار" id="select-3">  شهریار</label></li>
                    <li><label><input type="radio" name="select-list" value="بهارستان" id="select-4">  بهارستان</label></li>
                    <li><label><input type="radio" name="select-list" value="ملارد" id="select-5">  ملارد</label></li>
                    <li><label><input type="radio" name="select-list" value="پاکدشت" id="select-6">  پاکدشت</label></li>
                    <li><label><input type="radio" name="select-list" value="قدس" id="select-7">  قدس</label></li>
                    <li><label><input type="radio" name="select-list" value="رابط کریم" id="select-8">  رابط کریم</label></li>
                    <li><label><input type="radio" name="select-list" value="ورامین" id="select-9">  ورامین</label></li>
                    <li><label><input type="radio" name="select-list" value="قرچک" id="select-10">  قرچک</label></li>
                    <li><label><input type="radio" name="select-list" value="پردیس" id="select-11">  پردیس</label></li>
                    <li><label><input type="radio" name="select-list" value="دماوند" id="select-12">  دماوند</label></li>
                    <li><label><input type="radio" name="select-list" value="پیشوا" id="select-13">  پیشوا</label></li>
                    <li><label><input type="radio" name="select-list" value="شمیرانات" id="select-14">  شمیرانات</label></li>
                    <li><label><input type="radio" name="select-list" value="اسلامشهر" id="select-15">  اسلامشهر</label></li>
                    <li><label><input type="radio" name="select-list" value="فیروزکوه" id="select-15">  فیروزکوه</label></li>
                </ul>
            </div>
        </header>

        <div class="best-item-carousel owl-carousel">
            <!-- item -->
            <div class="item">
                <section class="section-item shadow-style">
                    <div class="img-layer">
                        <span> تهران </span>
                        <a href=""><img src="/images/pic/thumb-2.jpg"></a>
                    </div>
                    <h2><a href=""> <span class="category-name"> آموزشگاه زبان </span>  نیک آموزان جوان </a></h2>
                    <div class="detail">
                        <span class="history"> <i class="zmdi zmdi-calendar-check"></i> 30 سال سابقه </span>
                        <span class="rating-star"><span class="readonly-rating-star" data-score="4"></span></span>
                    </div>
                </section>
            </div>
            <!-- /item -->
            <!-- item -->
            <div class="item">
                <section class="section-item shadow-style">
                    <div class="img-layer">
                        <span> تهران </span>
                        <a href=""><img src="/images/pic/thumb.jpg"></a>
                    </div>
                    <h2><a href=""> <span class="category-name"> آموزشگاه زبان </span>  نیک آموزان جوان </a></h2>
                    <div class="detail">
                        <span class="history"> <i class="zmdi zmdi-calendar-check"></i> 30 سال سابقه </span>
                        <span class="rating-star"><span class="readonly-rating-star" data-score="3.5"></span></span>
                    </div>
                </section>
            </div>
            <!-- /item -->
            <!-- item -->
            <div class="item">
                <section class="section-item shadow-style">
                    <div class="img-layer">
                        <span> تهران </span>
                        <a href=""><img src="/images/pic/thumb-3.jpg"></a>
                    </div>
                    <h2><a href=""> <span class="category-name"> آموزشگاه زبان </span>  نیک آموزان جوان </a></h2>
                    <div class="detail">
                        <span class="history"> <i class="zmdi zmdi-calendar-check"></i> 30 سال سابقه </span>
                        <span class="rating-star"><span class="readonly-rating-star" data-score="4.5"></span></span>
                    </div>
                </section>
            </div>
            <!-- /item -->
            <!-- item -->
            <div class="item">
                <section class="section-item shadow-style">
                    <div class="img-layer">
                        <span> تهران </span>
                        <a href=""><img src="/images/pic/thumb-2.jpg"></a>
                    </div>
                    <h2><a href=""> <span class="category-name"> آموزشگاه زبان </span>  نیک آموزان جوان </a></h2>
                    <div class="detail">
                        <span class="history"> <i class="zmdi zmdi-calendar-check"></i> 30 سال سابقه </span>
                        <span class="rating-star"><span class="readonly-rating-star" data-score="4.5"></span></span>
                    </div>
                </section>
            </div>
            <!-- /item -->
            <!-- item -->
            <div class="item">
                <section class="section-item shadow-style">
                    <div class="img-layer">
                        <span> تهران </span>
                        <a href=""><img src="/images/pic/thumb.jpg"></a>
                    </div>
                    <h2><a href=""> <span class="category-name"> آموزشگاه زبان </span>  نیک آموزان جوان </a></h2>
                    <div class="detail">
                        <span class="history"> <i class="zmdi zmdi-calendar-check"></i> 30 سال سابقه </span>
                        <span class="rating-star"><span class="readonly-rating-star" data-score="4.5"></span></span>
                    </div>
                </section>
            </div>
            <!-- /item -->
            <!-- item -->
            <div class="item">
                <section class="section-item shadow-style">
                    <div class="img-layer">
                        <span> تهران </span>
                        <a href=""><img src="/images/pic/thumb-2.jpg"></a>
                    </div>
                    <h2><a href=""> <span class="category-name"> آموزشگاه زبان </span>  نیک آموزان جوان </a></h2>
                    <div class="detail">
                        <span class="history"> <i class="zmdi zmdi-calendar-check"></i> 30 سال سابقه </span>
                        <span class="rating-star"><span class="readonly-rating-star" data-score="3"></span></span>
                    </div>
                </section>
            </div>
            <!-- /item -->
            <!-- item -->
            <div class="item">
                <section class="section-item shadow-style">
                    <div class="img-layer">
                        <span> تهران </span>
                        <a href=""><img src="/images/pic/thumb-3.jpg"></a>
                    </div>
                    <h2><a href=""> <span class="category-name"> آموزشگاه زبان </span>  نیک آموزان جوان </a></h2>
                    <div class="detail">
                        <span class="history"> <i class="zmdi zmdi-calendar-check"></i> 30 سال سابقه </span>
                        <span class="rating-star"><span class="readonly-rating-star" data-score="3.5"></span></span>
                    </div>
                </section>
            </div>
            <!-- /item -->
            <!-- item -->
            <div class="item">
                <section class="section-item shadow-style">
                    <div class="img-layer">
                        <span> تهران </span>
                        <a href=""><img src="/images/pic/thumb-2.jpg"></a>
                    </div>
                    <h2><a href=""> <span class="category-name"> آموزشگاه زبان </span>  نیک آموزان جوان </a></h2>
                    <div class="detail">
                        <span class="history"> <i class="zmdi zmdi-calendar-check"></i> 30 سال سابقه </span>
                        <span class="rating-star"><span class="readonly-rating-star" data-score="4.5"></span></span>
                    </div>
                </section>
            </div>
            <!-- /item -->
            <!-- item -->
            <div class="item">
                <section class="section-item shadow-style">
                    <div class="img-layer">
                        <span> تهران </span>
                        <a href=""><img src="/images/pic/thumb-2.jpg"></a>
                    </div>
                    <h2><a href=""> <span class="category-name"> آموزشگاه زبان </span>  نیک آموزان جوان </a></h2>
                    <div class="detail">
                        <span class="history"> <i class="zmdi zmdi-calendar-check"></i> 30 سال سابقه </span>
                        <span class="rating-star"><span class="readonly-rating-star" data-score="4"></span></span>
                    </div>
                </section>
            </div>
            <!-- /item -->
        </div>
    </div>
</section>

<div class="last-terms-layer">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <header class="heading-style"><h2> دوره های آموزشی تخصصی آنلاین </h2></header>
                <div class="last-terms-carousel owl-carousel">
                    <!-- item -->
                    <div class="item">
                        <section class="section-item shadow-style">
                            <div class="img-layer">
                                <a href=""><img src="/images/pic/thumb-2.jpg"></a>
                            </div>
                            <h2><a href=""> آموزش جامع جی کوئری </a></h2>
                            <div class="detail">
                                <span class="history"> <i class="zmdi zmdi-calendar-check"></i> 30 سال سابقه </span>
                                <span class="download-cn"><i class="zmdi zmdi-download"></i> 358 </span>
                            </div>
                        </section>
                    </div>
                    <!-- /item -->
                    <!-- item -->
                    <div class="item">
                        <section class="section-item shadow-style">
                            <div class="img-layer">
                                <a href=""><img src="/images/pic/thumb-3.jpg"></a>
                            </div>
                            <h2><a href="">  آموزش جامع جی کوئری  </a></h2>
                            <div class="detail">
                                <span class="history"> <i class="zmdi zmdi-calendar-check"></i> 30 سال سابقه </span>
                                <span class="download-cn"><i class="zmdi zmdi-download"></i> 358 </span>
                            </div>
                        </section>
                    </div>
                    <!-- /item -->
                    <!-- item -->
                    <div class="item">
                        <section class="section-item shadow-style">
                            <div class="img-layer">
                                <a href=""><img src="/images/pic/thumb.jpg"></a>
                            </div>
                            <h2><a href="">  آموزش جامع جی کوئری  </a></h2>
                            <div class="detail">
                                <span class="history"> <i class="zmdi zmdi-calendar-check"></i> 30 سال سابقه </span>
                                <span class="download-cn"><i class="zmdi zmdi-download"></i> 358 </span>
                            </div>
                        </section>
                    </div>
                    <!-- /item -->
                    <!-- item -->
                    <div class="item">
                        <section class="section-item shadow-style">
                            <div class="img-layer">
                                <a href=""><img src="/images/pic/thumb-2.jpg"></a>
                            </div>
                            <h2><a href=""> آموزش جامع جی کوئری </a></h2>
                            <div class="detail">
                                <span class="history"> <i class="zmdi zmdi-calendar-check"></i> 30 سال سابقه </span>
                                <span class="download-cn"><i class="zmdi zmdi-download"></i> 358 </span>
                            </div>
                        </section>
                    </div>
                    <!-- /item -->
                    <!-- item -->
                    <div class="item">
                        <section class="section-item shadow-style">
                            <div class="img-layer">
                                <a href=""><img src="/images/pic/thumb-3.jpg"></a>
                            </div>
                            <h2><a href="">  آموزش جامع جی کوئری  </a></h2>
                            <div class="detail">
                                <span class="history"> <i class="zmdi zmdi-calendar-check"></i> 30 سال سابقه </span>
                                <span class="download-cn"><i class="zmdi zmdi-download"></i> 358 </span>
                            </div>
                        </section>
                    </div>
                    <!-- /item -->
                    <!-- item -->
                    <div class="item">
                        <section class="section-item shadow-style">
                            <div class="img-layer">
                                <a href=""><img src="/images/pic/thumb.jpg"></a>
                            </div>
                            <h2><a href="">  آموزش جامع جی کوئری  </a></h2>
                            <div class="detail">
                                <span class="history"> <i class="zmdi zmdi-calendar-check"></i> 30 سال سابقه </span>
                                <span class="download-cn"><i class="zmdi zmdi-download"></i> 358 </span>
                            </div>
                        </section>
                    </div>
                    <!-- /item -->
                </div>
            </div>
            <div class="col-md-3 hidden-sm hidden-xs">
                <div class="ads-banner">
                    <a href=""><img src="/images/topdev.jpg"></a>
                    <a href=""><img src="/images/getwork.jpg"></a>
                </div>
            </div>
        </div>
    </div>
</div>
