@model IEnumerable<Schools.Domain.Models.Blogs.Blog>
@using Schools.Application.Utilities.Convertors
@foreach (var item in Model)
{
    <!-- col -->
    <article class="blog-item">
        <a href="/BlogPage/@item.BlogId" class="img-layer"><img src="/images/blogs/@item.ImageName"></a>
        <h2><a href="/BlogPage/@item.BlogId">@item.Title</a></h2>
        <div class="detail">
            <a href="/BlogPage/@item.BlogId"><i class="zmdi zmdi-folder"></i> @item.BlogType.TypeTitle @item.BlogGroup.GroupName </a>
            <span> <i class="zmdi zmdi-calendar"></i>@item.CreateDate.ToShamsi()</span>
        </div>
    </article>
}
