@using Schools.Application.Utilities.Convertors
@using Schools.Application.ViewModels.BlogsViewModels
@using Schools.Domain.Repository.InterfaceRepository.BlogRepositories
@model Schools.Application.ViewModels.BlogsViewModels.BlogCategoryViewModel
@inject IBlogGroupsRepository _group
@{
    ViewData["Title"] = "اخبار و مقالات";
    var lastBlog = ViewData["LastBlogs"] as List<BlogViewModel>;
    var groups = _group.GetAllGroups();
}
@section Meta
{
    <link href="/css/page.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/material-icon.css">
    <link href="/css/search.css" rel="stylesheet" />
}

@section Topic_Layer{
    <div class="container page-title">
        <h1><a href=""> آرشیو مقالات </a></h1>
        <ul itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
            <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="/" itemprop="item"><span itemprop="name"> بانک اطلاعاتی آموزشگاه ها </span></a></li>
            <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="" itemprop="item" class="current"><span itemprop="name"> آرشیو مقالات </span></a></li>
        </ul>
    </div>
}

<div class="container">
    <div class="page-default page-style-one blog-category-page">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <div class="top-search shadow-style">
                    <form id="filtering">
                        <input type="hidden" name="page" asp-for="CurrentPage" id="pageId" />
                        <input type="hidden" name="groupTitle" asp-for="GroupTitle" id="groupTitle" />
                        <input name="search" asp-for="Search" placeholder=" جستجوی کنید ... " type="text">
                        <button><i class="zmdi zmdi-search"></i></button>
                    </form>
                </div>
                <section class="article-items">
                    <div class="row">
                        @foreach (var item in Model.Blogs)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 article-col">
                                <partial name="Blog/_BlogCard" model="item" />
                            </div>
                        }
                    </div>
                </section>
                @if (Model.PageCount > 1)
                {
                    <div class="pagination-layer">
                        <div class="inner">
                            @if (Model.CurrentPage >= 1)
                            {
                                <a onclick="ChangePage(@(Model.CurrentPage+1))" href="javascript:void(0)" class="next-page"> صفحه بعدی </a>
                            }
                            <div class="pages">
                                @for (var i = Model.StartPage; i <= Model.EndPage; i++)
                                {
                                    <a onclick="ChangePage(@i)" href="javascript:void(0)" class="@((i == Model.CurrentPage ? "page current" : "page"))">@i</a>
                                }
                            </div>
                            @if (Model.CurrentPage > 1)
                            {
                                <a onclick="ChangePage(@(Model.CurrentPage-1))" href="javascript:void(0)" class="prev-page"> صفحه قبلی </a>
                            }
                        </div>
                    </div>
                }
            </div>
            <!-- /right -->
            <!-- left -->
           <partial name="Blog/_LeftSide"/>
        </div>
    </div>
</div>

@section Scripts{
    <script>

        function changeGroup(title) {
            $("#groupTitle").val(title);
            $("#filtering").submit();
        }

        function ChangePage(pageId) {
            $("#pageId").val(pageId);
            $("#filtering").submit();
        }
    </script>
}