@model Tuple<List<Schools.Domain.Models.Blogs.BlogComment>, int>
@{
    Layout = null;
    int pageNum = ViewBag.pageId;
}

<div class="inner">
    <a class="next-page" onclick="pageComment(@(pageNum+=1))"> صفحه بعدی </a>
    <div class="pages">
        @for (int i = 1; i <= Model.Item2; i++)
        {
            <a class="page" onclick="pageComment(@i)">@i</a>
        }
    </div>
    <a class="prev-page" onclick="pageComment(@(pageNum-=1))"> صفحه قبلی </a>
</div>
