
@{
    Layout = null;
}
<h1>replay</h1>
<div class="comment-inner-layer">
    @if (User.Identity.IsAuthenticated)
    {
        <form asp-controller="Blog" asp-action="CreateComment"
              data-ajax="true"
              data-ajax-method="post"
              data-ajax-mode="replace"
              data-ajax-update="#listComment"
              data-ajax-success="Success">
            <input type="hidden" name="comment.BlogId" value="@Model.BlogId" />
            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-12">
                    <input name="comment.Name" id="comment_Name" placeholder=" نام و نام خانوادگی" type="text">
                    <input name="comment.Email" id="comment_Email" placeholder=" ایمیل " type="email">
                    <input name="comment.PhoneNumber" id="comment_PhoneNumber" placeholder=" شماره تماس " type="text">
                    <!-- here get comment id for reply , use this input's value and separate cm- -->
                    <input name="commentId_CommentId" id="reply-comment-id" type="hidden">
                </div>
                <div class="col-md-7 col-sm-7 col-xs-12">
                    <textarea id="comment_Comment" name="comment.Comment" placeholder=" متن نظر"></textarea>
                    @*<div class="captcha">
                            <input name="" placeholder=" کد امنیتی " type="text">
                            <img src="images/pic/captcha.jpg">
                        </div>*@
                    <button type="submit"> ارسال نظر ارزشمند شما </button>
                </div>
            </div>
        </form>
    }
    else
    {
        <div class="alert alert-danger">
            جهت درج نظر باید وارد سایت شوید
        </div>
    }
</div>