@page "{shireId}"
@model Schools.WebApp.Areas.ManagementPanel.Pages.Locations.Cities.AddModel
@{
    var menuModel = "Locations";
}
<partial name="_MainMenu" model="menuModel" />

<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">افزودن شهر</h3>
                    </div>
                    <!-- /.box-header -->

                    <div class="box-body">
                        <form method="post" class="row">
                            <div class="col-lg-12">
                                <p>نام استان </p>
                                <input type="text" required="" class="form-control" asp-for="City.CityTitle" />
                                <br class="col-lg-12" />
                                <button type="submit" class="btn btn-success btn-flat">ثبت</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
</div>
