@page "{handler?}"
@model Schools.WebApp.Areas.ManagementPanel.Pages.Tickets.Categories.IndexModel
@{
    ViewData["Title"] = "دسته بندی تیکتت";
    var menuModel = "TicketsCategory";
    
}

<partial name="_MainMenu" model="menuModel" />


<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <section class="col-lg-12 col-md-12">
                <div class="box box-info">
                    <div class="box-header">

                        <a href="/ManagementPanel/Tickets/Categories/Add" class="btn btn-success btn-flat">افزودن دسته بندی</a>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table-bordered table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>عنوان گروه</th>
                                        <td></td>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model.TicketCategories)
                                    {
                                        <tr>
                                            <td>@item.CategoryId</td>
                                            <td>@item.CategoryTitle</td>
                                            <td>
                                                <a href="/ManagementPanel/Tickets/Categories/Edit/@item.CategoryId" class="btn btn-flat btn-info btn-sm">ویرایش</a>
                                                <a class="btn btn-sm btn-flat btn-danger" href="javascript:void(0)" onclick="deleteItem(@item.CategoryId)">
                                                    حذف
                                                </a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </section>
</div>

@section Scripts
{
    <script>
        function deleteItem(id) {
            swal({
                title: "اخطار !",
                text: "آیا از حذف  اطمینان دارید ؟",
                icon: "warning",
                buttons: ["لغو", "بله"]
            }).then((isOk) => {
                if (isOk) {
                    $.ajax({
                        url: "/ManagementPanel/tickets/Categories/Delete?categoryId=" + id,
                        type: "get",
                        beforeSend: function() {
                            $(".loading").show();
                        },
                        complete: function() {
                            $(".loading").hide();
                        }
                    }).done(function(data) {
                        if (data === "NotFound") {
                            swal({
                                title: "شناسه وارد شده نا معتبر است",
                                icon: "error",
                                button: "باشه"
                            });
                        }
                        if (data === "Deleted") {
                            swal({
                                title: "اعملیات با موفقیت انجام شد",
                                icon: "success",
                                button: "باشه"
                            }).then((isOk) => {
                                location.reload();
                            });
                        } else {
                            swal({
                                title: "حذف گروه امکان پذیر نمی باشد",
                                icon: "error",
                                button: "باشه"
                            });
                        }
                    });
                }
            });

        };
    
    </script>
}
