<div class="fixed-menu">
    <div class="inner">
        <a href="javascript:void(0)" class="close-menu"><i class="zmdi zmdi-close"></i></a>
        <a href="" class="logo"><img src="/images/logo.svg"></a>
        <form asp-controller="School" asp-action="SchoolCategory" method="get">
            <input type="text" name="schoolName" placeholder=" جستجو کنید ...">
            <button><i class="zmdi zmdi-search"></i></button>
        </form>
        <nav>
            <ul>
                <li><a href="/Blogs/">وبلاگ</a></li>
                <li><a href="/Rules">قوانین و شرایط</a></li>
                <li><a href="https://www.toplearn.com" target="_blank">آموزش آنلاین</a></li>
                <li><a href="/AboutUs">درباره ما</a></li>
                <li><a href="/ContactUs">تماس با ما</a></li>
            </ul>
        </nav>

        <div class="socials">
            <a href=""><i class="icon-whatsapp"></i></a>
            <a href=""><i class="icon-instagram"></i></a>
            <a href=""><i class="icon-telegram"></i></a>
            <a href=""><i class="icon-aparat"></i></a>
        </div>
    </div>
</div>