@model Schools.Domain.Models.Users.User
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

@section Meta
{
    <link href="/css/account.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/material-icon.css">
}

<h3> ویرایش حساب کاربری </h3>
<div class="inner">
    <form asp-action="Edit" method="post" class="form-layer-style">
        <input type="hidden" asp-for="Email" value="Email@gmai.com"/>
        <div class="row">

            <div class="col-md-6 col-sm-12 col-xs-12">
                <!-- input -->
                <div class="input-layer">
                    <label><i class="zmdi zmdi-account"></i>نام</label>
                    <input asp-for="Name" type="text">
                </div>
                <!--/ input -->
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12">
                <!-- input -->
                <div class="input-layer">
                    <label><i class="zmdi zmdi-account"></i> نام خانوادگی</label>
                    <input asp-for="Family" type="text">
                </div>
                <!--/ input -->
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12">
                <!-- input -->
                <div class="input-layer">
                    <label><i class="zmdi zmdi-account"></i> کد ملی</label>
                    <input asp-for="NatinalCode" type="text">
                </div>
                <!--/ input -->
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12">
                <!-- input -->
                <div class="input-layer">
                    <label ><i class="zmdi zmdi-phone-in-talk"></i>  شماره ثابت </label>
                    <input asp-for="TelNumber" type="text">
                </div>
                <!-- /input -->
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12">
                <!-- input -->
                <div class="input-layer">
                    <label><i class="zmdi zmdi-smartphone-android"></i>  شماره موبایل </label>
                    <input asp-for="PhoneNumber" type="text">
                </div>
                <!-- /input -->
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12">
                <!-- select -->
                <div class="select-layer">
                    <label><i class="zmdi zmdi-settings"></i>  خدمات مورد نیاز </label>
                    <select>
                        <option> طراحی وب سایت  </option>
                        <option> طراحی اپ موبایل </option>
                        <option> نرم افزار ویندوز </option>
                    </select>
                </div>
                <!-- /select -->
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <!-- select -->
                <div class="select-layer">
                    <label><i class="zmdi zmdi-settings"></i>  خدمات مورد نیاز </label>
                    <select>
                        <option> طراحی وب سایت  </option>
                        <option> طراحی اپ موبایل </option>
                        <option> نرم افزار ویندوز </option>
                    </select>
                </div>
                <!-- /select -->
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <!-- textarea -->
                <div class="textarea-layer">
                    <label><i class="zmdi zmdi-assignment"></i>  توضیحات </label>
                    <textarea asp-for="Description"> </textarea>
                </div>
                <!-- /textarea -->
            </div>

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="col-md-3 col-sm-3 col-xs-12 pull-left">
                <button type="submit" class="submit-button green"> ویرایش اطلاعات </button>
            </div>

        </div>

    </form>
</div>

