@model Schools.Application.ViewModels.UsersViewModel.ChangePasswordModel
@{
    ViewData["Title"] = "تغییر کلمه عبور";
    var isSuccess = TempData["Success"] != null;
}

@section Meta
{
    <link href="/css/clientarea.css" rel="stylesheet" />
}
@section Topic_Layer{
    <div class="container page-title">
        <h1><a href=""> تغییر کلمه عبور </a></h1>
        <ul itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
            <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="/" itemprop="item"><span itemprop="name"> بانک اطلاعاتی آموزشگاه ها </span></a></li>
            <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="" itemprop="item" class="current"><span itemprop="name"> فراموشی کلمه عبور </span></a></li>
        </ul>
    </div>
}

<div class="clientarea-layer">
    <div class="content shadow-style">
        <h2>تغییر کلمه عبور</h2>

        <form asp-controller="Account" asp-action="ChangePassword" method="post">
            <input type="hidden" asp-for="UserId" value="@ViewData["userId"]" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="password" required="" asp-for="Password" class="right-corner" placeholder="کلمه عبور جدید">
            <input type="password" required="" asp-for="RePassword" class="left-corner" placeholder="تکرار کلمه عبور">
            <button class="right-corner" type="submit"> تغییر کلمه عبور </button>

        </form>

    </div>
</div>
@section Scripts
{
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.validate.unobtrusive.js"></script>
}
