@{
    ViewData["Title"] = "فراموشی کلمه عبور";
    var isSuccess = TempData["Success"] != null;
}

@section Meta
{
    <link href="/css/clientarea.css" rel="stylesheet" />
}
@section Topic_Layer{
    <div class="container page-title">
        <h1><a href=""> فراموشی کلمه عبور </a></h1>
        <ul itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
            <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="/" itemprop="item"><span itemprop="name"> بانک اطلاعاتی آموزشگاه ها </span></a></li>
            <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="" itemprop="item" class="current"><span itemprop="name"> فراموشی کلمه عبور </span></a></li>
        </ul>
    </div>
}

<div class="clientarea-layer">
    <div class="content shadow-style">
        <h2>فراموشی کلمه عبور</h2>
        <ul>
            <li> پس از وارد کردن ایمیل خود لینک تغییر رمز عبور به ایمیل شما ارسال می شود. </li>
            
        </ul>
        <form asp-controller="Account" asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="email" required="" name="email" class="right-corner" placeholder="ایمیل خود را وارد نمایید">
            <button class="left-corner" type="submit"> بازیابی رمز عبور </button>

        </form>

    </div>
</div>
