@model Schools.Application.ViewModels.UsersViewModel.RegisterViewModel
@{
    ViewData["Title"] = "ثبت نام";
}
@section Meta
{
    <link href="/css/clientarea.css" rel="stylesheet" />
    <link href="/css/Custom.css" rel="stylesheet" />
}
@section Topic_Layer{
    <div class="container page-title">
        <h1><a href=""> ثبت نام در سایت </a></h1>
        <ul itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
            <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="" itemprop="item"><span itemprop="name"> بانک اطلاعاتی آموزشگاه ها </span></a></li>
            <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="" itemprop="item" class="current"><span itemprop="name"> ثبت نام در سایت </span></a></li>
        </ul>
    </div>
}

<div class="clientarea-layer">
    <div class="content shadow-style">
        <h2> هنگام ثبت نام به موارد زیر توجه فرمایید  </h2>
        <ul>
            <li>ابتدا <a href="">قوانین و شرایط</a> عضویت در سامانه را با دقت مطالعه نموده و سپس اقدام به ثبت نام در سامانه نمایید .</li>
            <li>لطفا مشخصات و شماره موبایل خود را با دقت و بطور صحیح وارد نمایید ، جهت تکمیل ادامه مراحل ثبت نام کد تایید به شماره موبایل شما ارسال خواهد شد. </li>
        </ul>
      
        <form method="post" asp-action="Register">
            <div asp-validation-summary="All"></div>
            <input asp-for="Email" type="email" class="right-corner" placeholder="ایمیل خود را وارد نمایید">
            <input asp-for="PhoneNumber" type="text" class="left-corner" placeholder="شماره موبایل خود را وارد نمایید">
            <input asp-for="UserName" type="text" class="right-corner" placeholder=" نام کاربری خود را وارد کنید ">
            <input asp-for="Password" type="password" class="left-corner" placeholder="  کلمه عبور خود را وارد کنید ">
            <button class="right-corner"> ثبت نام </button>


            <div class="detail margin-t-25">
                <a href="/Login"><i class="zmdi zmdi-account"></i> قبلا ثبت نام کرده ام ! </a>
            </div>
        </form>
    </div>
</div>
@section Scripts
{
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.validate.unobtrusive.js"></script>
    <script src="/js/public.js"></script>
    <script src="/js/register.js"></script>
}
