@model Schools.Application.ViewModels.UsersViewModel.RegisterStip2ViewModel
@{
    ViewData["Title"] = "ثبت نام";
}

@section Meta
{
    <link rel="stylesheet" type="text/css" href="css/icon.css">
    <link href="/css/clientarea.css" rel="stylesheet" />
}
@section Topic_Layer{
    <div class="container page-title">
        <h1><a href=""> ثبت نام در سایت </a></h1>
        <ul itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
            <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="" itemprop="item"><span itemprop="name"> بانک اطلاعاتی آموزشگاه ها </span></a></li>
            <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="" itemprop="item" class="current"><span itemprop="name"> ثبت نام در سایت </span></a></li>
        </ul>
    </div>
}

<div class="clientarea-layer">
    <div class="content shadow-style">
        <div class="step-two">
            <h2> جهت تکمیل ثبت نام کد تایید را وارد نمایید  </h2>
            <!-- هر 5 دقیقه یک مرتبه دکمه ارسال مجدد کد تایید را فعال نمایید  -->
            <button class="refresh-code" disabled="disabled"> <i class="zmdi zmdi-refresh-alt"></i> ارسال مجدد کد تایید  </button>
            <div class="timer" data-seconds-left="300"></div>

            <div class="clearfix"></div>

            <form asp-action="RegisterStip2" method="post">
                <input asp-for="UserId" type="hidden" value="@ViewBag.UserId" />
                <input asp-for="ActiveCode" type="text" class="right-corner" placeholder=" کد تایید را وارد نمایید ">
                <button class="left-corner"> ثبت کد تایید و ادامه ثبت نام  </button>
                <div asp-validation-summary="All" class="text-danger"></div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="js/timer.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.timer').startTimer();
        });
    </script>
}
