@page
@model Schools.WebApp.Areas.ManagementPanel.Pages.Users.AddModel
@{

    var menuModel = "users";
}

<partial name="_MainMenu" model="menuModel" />

<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <section class="col-lg-12 col-md-12">
                <div class="col-md-6">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">افزودن کاربر</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body">
                            <form role="form" method="post">
                                <label>نام کاربری :</label>
                                <input type="text" class="form-control" placeholder="نام کاربری را وارد کنید" />
                                <br />
                                <label>نام :</label>
                                <input type="text" class="form-control" placeholder="نام را وارد کنید" />
                                <br />
                                <label>نام خانوادگی :</label>
                                <input type="text" class="form-control" placeholder="نام خانوادگی را وارد کنید" />
                                <br />
                                <label>کلمه عبور :</label>
                                <input type="text" class="form-control" placeholder="کلمه عبور را وارد کنید" />
                                <br />
                                <input type="submit" class="btn btn-success" value="افزودن"/>
                            </form>
                        </div>
                        <!-- /.box-body -->
                       
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">تصویر پروفایل</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div>
                                <img class="thumbnail" width="250" src="~/UserProfile/default.png" />
                            </div>
                            <input type="file"/>
                        </div>
                        <!-- /.box-body -->

                    </div>
                </div>
            </section>
            <section class="col-lg-12 col-md-12">
                <div class="col-md-6">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">انتخاب نقش</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body">
                            
                        </div>
                        <!-- /.box-body -->

                    </div>
                </div>
                <div class="col-md-6"></div>
            </section>
        </div>
    </section>
</div>