
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> کنترل پنل مدیریت</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="/Admin/dist/css/bootstrap-theme.css">
    <!-- Bootstrap rtl -->
    <link rel="stylesheet" href="/Admin/dist/css/rtl.css">

    <link rel="stylesheet" href="/Admin/bowercomponents/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="/Admin/bowercomponents/Ionicons/css/ionicons.min.css">

    <link rel="stylesheet" href="/Admin/dist/css/AdminLTE.css">

    <link rel="stylesheet" href="/Admin/dist/css/skins/_all-skins.min.css">

    <link rel="stylesheet" href="/Admin/bowercomponents/morris.js/morris.css">

    <link rel="stylesheet" href="/Admin/bowercomponents/jvectormap/jquery-jvectormap.css">

    <link rel="stylesheet" href="/Admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <link rel="stylesheet" href="/Admin/dist/css/customize-adminlte.css">
    <link rel="stylesheet" href="/Admin/CustomStyle.css">
    @await RenderSectionAsync("Meta", false)
</head>

<body class="sidebar-mini skin-purple sidebar-collapse fixed">
    <div class="loading">
        <div class="loading-body">
            <img src="/loading/Double Ring-1.4s-200px.gif" />
            <p>لطفا منتظر بمانید ...</p>
        </div>
    </div>
    <div class="wrapper">

        <partial name="_Header" />
        @RenderBody()

      

        <div class="control-sidebar-bg"></div>
    </div>

    <script src="/Admin/bowercomponents/jquery/dist/jquery.min.js"></script>
    <script src="/Admin/bowercomponents/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Admin/bowercomponents/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <script src="/Admin/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="/Admin/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/Admin/bowercomponents/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="/Admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <script src="/Admin/bowercomponents/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/Admin/dist/js/adminlte.min.js"></script>
    <script src="/Admin/dist/js/demo.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $(".main-sidebar").mouseenter(function () {
            $("body").removeClass("sidebar-collapse");
            $("body").addClass("sidebar-expanded-on-hover");
        });
        $(".content-wrapper").mouseenter(function () {
            if ($("body").hasClass("sidebar-expanded-on-hover")) {
                $("body").removeClass("sidebar-expanded-on-hover");

                $("body").addClass("sidebar-collapse");
            }
        });
    </script>



    @await RenderSectionAsync("Scripts", false)
</body>

</html>