<div class="main-menu">
    <a href="" class="logo"><img src="/images/logo.svg"></a>
    <span class="responsive-menu"><i class="zmdi zmdi-menu"></i></span>
    <nav>
        <ul>
            <li><a href="">وبلاگ</a></li>
            <li><a href="">قوانین و شرایط</a></li>
            <li><a href="">آموزش آنلاین</a></li>
            <li><a href="">درباره ما</a></li>
            <li><a href="">تماس با ما</a></li>
        </ul>
    </nav>
    <a href="" class="submit-request"> ثبت آموزشگاه </a>
</div>