@page "{id}"
@model Schools.WebApp.Areas.ManagementPanel.Pages.Schools.Groups.AddSubGroupModel
@{
    ViewData["Title"] = "افزودن زیر گروه";
    int id = int.Parse(RouteData.Values["id"].ToString());
    var menuModel = "schoolsGroup";
}


    <partial name="_MainMenu" model="menuModel" />

    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <section class="col-lg-12 col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">افزودن  زیر گروه</h3>
                        </div>
                        <div class="box-body">
                            <form class="row" method="post">
                                <div class="col-lg-12">
                                    <label>عنوان زیر گروه :</label>
                                    <input type="text" asp-for="addSchoolGroupsViewModel.GroupTitle" required="" class="form-control" placeholder="عنوان را وارد کنید" />
                                    <input type="text" disabled asp-for="SchoolGroup.GroupTitle" class="form-control" />
                                    <input type="hidden" name="id" value="@id"/>
                                    <button type="submit" class="btn btn-primary" style="margin-top: 8px">افزودن</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>