@page "{id}"
@model Schools.WebApp.Areas.ManagementPanel.Pages.Schools.Groups.AddSubGroupModel
@{
    var menuModel = "schoolsGroup";
}
<partial name="_MainMenu" model="menuModel" />


<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <section class="col-lg-12 col-md-12">

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">افزودن زیر گروه</h3>
                    </div>
                    <form role="form" method="post">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">عنوان زیر گروه :</label>
                                <input type="text" asp-for="SchoolGroup.GroupTitle" class="form-control" id="exampleInputEmail1" placeholder="عنوان را وارد کنید">
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">افزودن</button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </section>
</div>