@page
@model Schools.WebApp.Areas.ManagementPanel.Pages.Schools.Groups.IndexModel
@{
    ViewData["Title"] = "گروه های آموزشگاها";
    var menuModel = "schoolsGroup";
    // ManagementPanel/Schools
}

<partial name="_MainMenu" model="menuModel" />


<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <section class="col-lg-12 col-md-12">
                <div class="box box-info">
                    <div class="box-header">
                        <form class="row">

                            <div class="col-lg-4 col-md-4" style="margin-top: 8px">
                                <button type="submit" class="btn btn-block btn-info">فیلتر</button>

                            </div>
                        </form>
                        <hr />
                        <a href="/ManagementPanel/Schools/Groups/Add" class="btn btn-success btn-flat">افزودن گروه</a>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table-bordered table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>عنوان گروه</th>
                                        <th>زیر گروه ها</th>
                                        <th>آیا این رکورد پاک شده است ؟</th>
                                        <td>عملیات ها</td>
                                    </tr>
                                </thead>

                                <tbody>

                                    @foreach (var Group in Model.List.Where(g=>g.ParentId == null))
                                    {
                                        <tr>
                                            <td>@Group.GroupId</td>
                                            <td>@Group.GroupTitle</td>
                                            <td>
                                                <ul>
                                                    @foreach (var sub in Model.List.Where(g => g.ParentId == Group.GroupId))
                                                    {
                                                        <li>
                                                            <p>
                                                                @sub.GroupTitle
                                                                <a class="btn btn-danger btn-sm" href="/Schools/Groups/DeleteGroup/@sub.GroupId"><i class="glyphicon-eye-open"></i></a>
                                                                <a class="btn btn-warning btn-sm" href="/Schools/Groups/EditGroup/@sub.GroupId"><i class="glyphicon-eye-open"></i></a>
                                                            </p>
                                                        </li>

                                                    }
                                                </ul>
                                            </td>
                                            <td>
                                                @if (Group.IsDelete == true)
                                                {
                                                    <p class="text-success">بله</p>
                                                }
                                                else
                                                {
                                                    <p class="text-danger">خیر</p>
                                                }
                                            </td>
                                            <td>
                                                <a class="btn btn-info btn-sm">نمایش آموزشگاه های این گروه</a>
                                                <a class="btn btn-warning btn-sm">ویرایش</a>
                                                <a class="btn btn-danger btn-sm">حذف</a>

                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                        <div class="dataTables_paginate paging_simple_numbers text-center" id="example2_paginate">

                            <hr class="mt-0">

                            <ul class="pagination">

                                <li class="paginate_button previous disabled" id="example2_previous">
                                    <a onclick="ChangePage(1)">1</a>
                                </li>





                                <li class="paginate_button active">
                                    <a onclick="ChangePage(1)" href="javascript:void(0)">1</a>
                                </li>

                                <li class="paginate_button next" id="example2_next">
                                    <a onclick="ChangePage(10)">10</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>

