@model Schools.Application.ViewModels.UsersViewModel.EditPasswordViewModel
@{
    ViewData["Title"] = "EditPassword";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

@section Meta
{
    <link href="/css/account.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/material-icon.css">
}

<h3> تغییر رمز عبور  </h3>

<div class="inner">
    <form asp-action="EditPassword" method="post" class="form-layer-style">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <!-- input -->
                <div class="input-layer">
                    <label><i class="zmdi zmdi-lock"></i>  رمز عبور فعلی </label>
                    <input asp-for="CurentPassword" type="password">
                    <span asp-validation-for="CurentPassword"></span>
                </div>
                <!--/ input -->
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12">
                <!-- input -->
                <div class="input-layer">
                    <label><i class="zmdi zmdi-lock"></i> رمز عبور جدید </label>
                    <input asp-for="NewPassword" type="password">
                    <span asp-validation-for="NewPassword"></span>
                </div>
                <!--/ input -->
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12">
                <!-- input -->
                <div class="input-layer">
                    <label><i class="zmdi zmdi-lock"></i> تکرار رمز عبور جدید </label>
                    <input asp-for="ReNewPassword" type="password">
                    <span asp-validation-for="ReNewPassword"></span>
                </div>
                <!-- /input -->
            </div>

            <div class="col-xs-12">
                @if (ViewBag.Sucsses == true)
                {
                    <div class="alert alert-success">
                        <p> پسورد شما با موفقیت تغییر کرد </p>
                    </div>
                }

                @if (ViewBag.Sucsses == false)
                {
                    <div class="alert alert-danger">
                        <p> پسورد اشتباه است </p>
                    </div>
                }
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12 pull-left">
                <button type="submit" class="submit-button green"> تغییر رمز عبور </button>
            </div>

        </div>
    </form>
</div>
